[Desktop Entry]
Name=DaVinci Installer

Exec=linexin-center -w c-davinci-installer

Icon=/usr/share/icons/github.petexy.davinciinstaller.png

Terminal=false
Type=Application
Categories=GTK; Installer; Blackmagic; Movie; Video; Editing; Designer;
StartupNotify=false
Hidden=true
